<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Intro</title>
    <link rel="stylesheet" type = "text/css" href="{{url_for('static',filename='css/main.css')}}">
  </head>

  <header>
    <h1 class="logo">Welcome to Flask!</h1>

  </header>
  <body>

    <div class="grid-container">
      <a href="/login">
      <div class="card">
        <img src="/static/images/login.png" alt="Avatar" style="width:30%">
        <div class="container">
          <h4><b>Login</b></h4>
          <p>This is the link to the login page</p>
        </div>
        </a>
      </div>
      <a href="/">
      <div class="tile" >

        <h4><b>Something else</b></h4>
        <p>Click here</p>
      </div></a>
    </div>

  </body>
</html>
