<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meet'N eat</title>
    <link rel="stylesheet" type = "text/css" href="{{url_for('static',filename='css/main.css')}}">
  </head>

  <header>
    <h1 class="logo">Welcome to Meet'N eat!</h1>

  </header>
  <body>

    <div class="grid-container">
      <a href="/login">
        <div class="tile">
          <img src="/static/images/login.png" alt="Avatar" style="width:30%">
          <h4><b>Login</b></h4>
        </div>
      </a>

      <a href="/logout">
        <div class="tile">
          <img src="/static/images/logout.png" alt="Avatar" style="width:30%">
          <h4><b>Logout</b></h4>
        </div>
      </a>

      <a href="/apiKey">
        <div class="tile">
          <img src="/static/images/key.png" alt="Avatar" style="width:30%">
          <h4><b>Show API keys</b></h4>
        </div>
      </a>

      <a href="/doc">
        <div class="tile">
          <img src="/static/images/book.png" alt="Avatar" style="width:30%">
          <h4><b>Show documentation</b></h4>
        </div>
      </a>
    </div>



  </body>
</html>
